.filter-bar {
    margin: -30px auto 40px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    @include mq($width-md) {
        margin-top: -50px;
        padding: 40px;
    }
}

.filter-clear {
    color: $color--primary;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
}

span.tag.filter-tag {
    cursor: default;
    padding-right: 0;
    margin: 0;

    &:hover {
        background: $color--base;
        color: $color--primary;
    }
}

.tag--close {
    background: $color--primary;
    color: $color--white;
    height: inherit;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
        background: $color--black;
    }
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}