.job-card {
    height: auto;
    margin: 50px auto;
    padding: 14px;
    flex-direction: column;
    align-items: flex-start;

    @include mq($width-xsm) {
        padding: 24px;
    }
    @include mq($width-md) {
        padding: 32px 40px;
    }
    @include mq($width-lg) {
        flex-direction: row;
        align-items: center;
        margin: 24px auto;
    }

    & > * {
        margin-bottom: 20px;

        @include mq($width-lg) {
            margin-bottom: 0;
        }
    }
}

.job-card__logo {
    margin-top: -2rem;
    width: 48px;
    height: 48px;

    @include mq($width-xsm) {
        margin-top: -3rem;
        width: 25%;
        height: auto;
    }
    @include mq($width-md) {
        width: 88px;
        height: 88px;
        margin-top: -4rem;
    }
    @include mq($width-lg) {
        margin-top: 0;
        margin-right: 24px;
    }
}

.job-card__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px $color--gray;

    @include mq($width-md) {
        border-bottom: none;
    }

    & > * {
        margin-bottom: 15px;
    }
}

.job-card__company {
    color: $color--primary;

    span {
        margin-right: 8px;
        
        @include mq($width-md) {
            margin-right: 10px;
        }
    }
}

.job-card__position {
    font-weight: $font-weight-bold;
    font-size: $font-base;
    cursor: pointer;

    &:hover {
        color: $color--primary;
    }
}

.job-card__details {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    color: $color--gray;

    & > * {
        margin-right: 2px;

        @include mq($width-xxs) {
            margin-right: 5px;
        }
    }
}

.job-card__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    font-weight: $font-weight-bold;
    width: 100%;

    @include mq($width-md) {
        flex-wrap: nowrap;
    }
}

// add left border to featured listings
.featured {
    border-left: solid 5px $color--primary;
}